*
{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(190, 184, 184);
}

.headings {
    border-bottom: 2px solid green;
    color: green;
}

.footer {
    background: black;
    color: white;
    margin-top: 20px;
}

.nav-item .nav-link {
    color: white !important;
}
.nav-item .nav-link:hover {
    border-bottom: 2px solid white;
    text-emphasis: bold;
}

.nav-item .nav-link:active {
    border-bottom: 2px solid white !important;
}

.news-article {
    display: flex !important;
    float: left !important;
    margin: 5px !important;
}

.footer-items {
    list-style: none;
}

.career {
    height: 400px;
}



